* {
    box-sizing: border-box;
}
body {
    background-color: #111827;
    margin: 0;
}
header {   
    color: #E5E7EB;
    background-color: #1E293B;
    text-align: center;
    padding: 10px;
}

#navbar1 {
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px black;
    background-color: teal;
    height: 25px;
}


#navbar2 {
  width: max-content;
  margin: auto;
  clear: both;

}
#navbar2 > a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
    background-color: darkslategray;
    box-shadow: 0px 0px 5px black;
}
#navbar2 > a:hover {
    background-color: lightseagreen;
}

aside {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #0F172A;
    box-shadow: 0px 0px 5px black;
    width: 17%;
    float: left;
    padding: 10px;
}
aside h2 {
    color: #E5E7EB;
    text-align: center;
}
nav ul{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 200px;
}
nav ul li {
    gap: 10px;
    text-align: center;
    list-style-type: none;
    height: 30px;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(131, 255, 255, 0.507);
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px black;
}
.list a {  
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    display: block;
    border-radius: 10px;
}
.list a:hover, #active1{
    box-shadow: 0px 0px 10px rgb(85, 207, 255);
    background-color:#2563EB;
    border-radius: 5px;
}
section {

    width: 83%;
    float: left;
    padding: 10px;
}
section h2, p{
    color: white;
}
#tile1 {
    border-radius: 10px;
    background-color: #1F2937;
    height: 25px;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 10px;
}

#active {
    box-shadow: 0px 0px 10px rgb(85, 207, 255);
    background-color:#2563EB;
    border-radius: 5px;
}
nav #Here {
    box-shadow: 0px 0px 10px rgb(85, 207, 255);
    background-color:lightseagreen;
}
/* Box designs */
#stats {
    color: whitesmoke;
}
#box1 {
    color: white;
    font-family: "Comic Sans MS", "Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    background: linear-gradient(#a619f6, #2563EB);
    border-radius: 30px;
    box-shadow: #2563EB 0px 0px 10px;
}
#container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

#box2 {
    color: white;
    font-family: "Comic Sans MS", "Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    background: linear-gradient(#065F46, #10B981);
    border-radius: 30px;
    box-shadow: #43ff72 0px 0px 10px;
}
#box3 {
    color: white;
    font-family: "Comic Sans MS", "Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    background: linear-gradient(#4e04fa, #f70d6e);
    border-radius: 30px;
    box-shadow: #fd20a8 0px 0px 10px;
}
#container {
    padding-top: 70px;
}

/* Table designs */

.profile1{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 10px;
    border-radius: 20px;
    background-color: rgb(16, 68, 68);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.label {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-bottom: 5px;
}
#surname, #firstName, #middleName {
    color: rgb(194, 194, 194);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 18px;
}
#role, #position {
    justify-content: center;
    padding: 1px 12px;
    background-color: rgba(131, 255, 255, 0.507);
    border: 1px solid teal;
    border-radius: 1rem;
    color: rgb(14, 25, 182);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 18px;
}
#button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}
#button:hover {
     color: black;
    transform: scale(1.0) translateY(-5px);
    background-color: lightseagreen;
    box-shadow: 0 0 25px teal;
}
/**#button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: darkslategray;
    border: 2px solid ;
} **/
